@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  line-height: 1.2;
}

body {
  font-family: "Noto Sans JP", MyYuGothicM, YuGothic, -apple-system, "system-ui", "Hiragino kaku Gothic ProN", Meiryo, Verdana, arial, helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #131d34;
}

a {
  text-decoration: none;
  color: #131d34;
  cursor: pointer;
}

a:active {
  opacity: 0.5;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.u-flex {
  display: flex;
  justify-content: space-between;
}

.no-tablet {
  display: block;
}
@media (min-width: 767px) {
  .no-tablet {
    display: none;
  }
}

.l-header {
  height: 50px;
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}
@media (min-width: 1201px) {
  .l-header {
    padding: 0 0 0 21px;
    height: 70px;
  }
}
.l-header__container {
  width: 100%;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.l-header__logo {
  height: 30px;
  margin: 10px;
}
@media (min-width: 1201px) {
  .l-header__logo {
    align-items: center;
    justify-content: flex-start;
    height: 33px;
    margin: 0;
    text-wrap: nowrap;
    z-index: 1100;
  }
}
@media (min-width: 1201px) {
  .l-header__link {
    width: 160px;
    display: block;
  }
}
.l-header__image {
  width: 143px;
  height: 30px;
}
@media (min-width: 1201px) {
  .l-header__image {
    width: 157.27px;
    height: 33px;
  }
}
.l-header__description {
  display: none;
}
@media (min-width: 1281px) {
  .l-header__description {
    display: block;
    font-size: 17.5px;
    font-weight: 900;
    line-height: 22.75px;
    width: 252.5px;
    margin-left: 16px;
    text-align: left;
    z-index: 10;
    text-wrap: nowrap;
    position: absolute;
    left: 157px;
    z-index: 1020;
  }
}
.l-header__description strong {
  font-size: 22.5px;
  line-height: 29.25px;
  text-align: left;
  margin: 0 0 0 -4px;
}
.l-header__nav {
  display: none;
}
@media (min-width: 1201px) {
  .l-header__nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 75%;
    z-index: 1020;
  }
}
.l-header__menu {
  align-items: center;
}
.l-header__list {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  position: relative;
  padding: 0 15px;
  text-wrap: nowrap;
}
.l-header__list-title {
  font-weight: 700;
  font-size: 1.6rem;
}
.l-header__list:hover {
  background-color: #d4f1f7;
}

.p-hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  width: 50px;
  height: 50px;
  color: #2bb8d9;
}
@media (min-width: 1201px) {
  .p-hamburger {
    display: none;
    height: 70px;
  }
}
.p-hamburger__menu {
  display: none;
  background-color: #fff;
  width: 100%;
  padding-top: 50px;
  position: fixed;
  top: 0;
  z-index: 150;
}
.p-hamburger__menu.active {
  transform: translateX(0);
  display: block;
  transition: 0.3s ease;
}
.p-hamburger__list:nth-child(3) .p-hamburger__title::before, .p-hamburger__list:nth-child(3) .p-hamburger__title::after {
  display: none;
}
.p-hamburger__title {
  position: relative;
  font-size: 20px;
  line-height: 1.7;
  font-weight: 700;
  padding: 10px;
}
.p-hamburger__title::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 13px;
  height: 2px;
  width: 24px;
  background: #131d34;
  transform: rotate(90deg);
  transition: 0.1s ease;
  margin: -1px 0 0 0;
}
@media (min-width: 767px) {
  .p-hamburger__title::before {
    right: 12px;
  }
}
.p-hamburger__title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 13px;
  height: 2px;
  width: 24px;
  z-index: 10;
  background-color: #131d34;
  margin: -1px 0 0 0;
}
@media (min-width: 767px) {
  .p-hamburger__title::after {
    right: 12px;
  }
}
.p-hamburger__title.open::after {
  z-index: 10;
}
.p-hamburger__title.open::before {
  position: absolute;
  top: 0;
  width: 50px;
  height: 55px;
  right: 0;
  background-color: #f7f7f7;
  z-index: 9;
}
.p-hamburger__title:hover {
  background: #f3fafb;
}
.p-hamburger__body {
  display: none;
}
.p-hamburger__body-list {
  font-weight: 400;
  line-height: 1.7;
  padding: 10px 10px 10px 25px;
}
.p-hamburger__body-list:hover {
  background-color: #f3fafb;
  transition: 0.3s ease;
}

.hamburger.active {
  background-color: #2498b3;
}

.hamburger span {
  width: 23px;
  height: 2px;
  background-color: #2498b3;
  transition: 0.5s ease;
  display: block;
  position: relative;
}

.hamburger span::before,
.hamburger span::after {
  content: "";
  width: 23px;
  height: 2px;
  position: absolute;
  background-color: #2498b3;
  transition: 0.3s ease;
  top: 9px;
}

.hamburger span::after {
  top: -9px;
}

.hamburger.active span {
  background-color: #2498b3;
}

.hamburger.active span::before,
.hamburger.active span::after {
  transform: rotate(45deg);
  background-color: #fff;
  top: 0;
}

.hamburger.active span::after {
  transform: rotate(-45deg);
}

.c-button__contact {
  font-size: 1.6rem;
  letter-spacing: -0.1;
  width: 170px;
  height: 70px;
  font-weight: 700;
  background-color: #2498b3;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-wrap: nowrap;
}

.c-button__link {
  background-color: #2498b3;
  color: #fff;
  margin: 8.125px auto 8.125px auto;
  display: flex;
  border-radius: 4px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 1.7;
  width: 275.73px;
  height: 46px;
}
@media (min-width: 767px) {
  .c-button__link {
    width: 344px;
    height: 72px;
    font-size: 1.8rem;
    line-height: 1;
    margin: 36px auto 10px;
  }
}

.p-dropdown__menu {
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
  bottom: 70px;
}
.p-dropdown__list {
  background-color: #ecf8fb;
  transition: ease 0.1s;
  position: relative;
  padding: 15px 60px 15px 15px;
}
.p-dropdown__list-title {
  font-size: 2rem;
  line-height: 1.7;
  font-weight: 400;
}
.p-dropdown__list:hover {
  background-color: #fff;
}
.p-dropdown__list:hover a {
  color: #2bb8d9;
}

.u-listWidth__308 {
  width: 308px;
}
.u-listWidth__316 {
  width: 316.56px;
}
.u-listWidth__215 {
  width: 215px;
}
.u-listWidth__195 {
  width: 195px;
}
.u-listWidth__170 {
  width: 170px;
}

main {
  padding-top: 50px;
}
@media (min-width: 1201px) {
  main {
    padding: 70px 0 0 0;
  }
}

.p-top__wrapper {
  width: 100%;
  height: 320px;
  background-image: url(/images/bg-hero3.png);
  background-position-x: 50%;
  background-position-y: -25px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
  flex-direction: column;
  position: relative;
  justify-content: flex-end;
}
@media (min-width: 767px) {
  .p-top__wrapper {
    padding: 80px 0 0 0;
    height: 650px;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: cover;
    background-origin: padding-box;
  }
}
.p-top__wrapper::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background-image: url(/images/bg-hero2.png);
  background-repeat: no-repeat;
  background-size: 800px;
  background-origin: padding-box;
  background-position-x: 50%;
  background-position-y: -25px;
  background-attachment: scroll;
  background-clip: border-box;
  width: 100%;
  z-index: 10;
  height: 200px;
}
@media (min-width: 767px) {
  .p-top__wrapper::before {
    height: 650px;
    background-size: auto;
    background-position-x: 50%;
    background-position-y: 50%;
  }
}
.p-top__wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-image: url(/images/bg-hero1.png);
  background-size: 800px;
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-position: 50% -30px;
  background-attachment: scroll;
  background-clip: border-box;
  width: 100%;
  z-index: 15;
  height: 200px;
}
@media (min-width: 767px) {
  .p-top__wrapper::after {
    height: 650px;
    background-size: auto;
    background-position-x: 50%;
    background-position-y: 50%;
  }
}
.p-top__contents {
  position: absolute;
  padding: 9px 0 13px;
  background-color: #fff;
  text-align: center;
  width: 100%;
  z-index: 50;
}
@media (min-width: 767px) {
  .p-top__contents {
    width: 496px;
    box-sizing: border-box;
    height: 367px;
    display: block;
    border-radius: 10px;
    padding: 43px 40px 19px;
  }
}
.p-top__image {
  display: none;
}
@media (min-width: 767px) {
  .p-top__image {
    display: block;
    width: 280px;
    height: 58.75px;
    margin: 0 auto;
  }
}
.p-top__box {
  width: 100%;
}
.p-top__description {
  margin: 8.125px 0 16.25px 0;
  font-size: 16.25px;
  line-height: 27.625px;
  font-weight: 700;
}
@media (min-width: 767px) {
  .p-top__description {
    margin: 26px 0 10px;
    font-size: 1.6rem;
    line-height: 34px;
  }
}

.p-card {
  padding: 80px 0;
  width: 100%;
  background-color: #131d34;
}
@media (min-width: 767px) {
  .p-card {
    height: 330px;
  }
}
.p-card__menu {
  flex-direction: column;
  margin: 0 10px;
}
@media (min-width: 767px) {
  .p-card__menu {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    max-width: 1000px;
    width: 100%;
    margin: -263px auto 0;
  }
}
.p-card__list {
  color: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 7px 50px;
}
@media (min-width: 767px) {
  .p-card__list {
    margin: 0 2%;
    width: 28.5%;
  }
}
@media (min-width: 1201px) {
  .p-card__list {
    margin: 0 50px;
    width: 229px;
  }
}
.p-card__list:last-child {
  margin-bottom: 0;
}
.p-card__circle {
  width: 230px;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 6px solid #131d34;
  background-color: #fff;
}
.p-card__icon {
  color: #131d34;
  font-size: 100px;
}
.p-card__inner-title {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  line-height: 51px;
  margin-top: 6px;
}
@media (min-width: 767px) {
  .p-card__inner-title {
    font-size: 2.4rem;
  }
}
.p-card__inner-text {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 34px;
  margin-top: 10px;
}
@media (min-width: 767px) {
  .p-card__inner-text {
    font-size: 1.6rem;
  }
}
@media (min-width: 1281px) {
  .p-card__inner-text {
    width: 229px;
  }
}
/*# sourceMappingURL=style.css.map */