@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  line-height: 1.2;
}

body {
  font-family: "Noto Sans JP", MyYuGothicM, YuGothic, -apple-system, "system-ui", "Hiragino kaku Gothic ProN", Meiryo, Verdana, arial, helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #131d34;
}

a {
  text-decoration: none;
  color: #131d34;
  cursor: pointer;
}

a:active {
  opacity: 0.5;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.u-flex {
  display: flex;
  justify-content: space-between;
}

.l-header {
  height: 50px;
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}
@media (min-width: 1200px) {
  .l-header {
    padding: 0 0 0 21px;
    height: 70px;
  }
}
.l-header__container {
  width: 100%;
  position: relative;
  align-items: center;
}
.l-header__logo {
  width: 160px;
  height: 30px;
  margin: 10px;
}
@media (min-width: 1200px) {
  .l-header__logo {
    align-items: center;
    position: relative;
    height: 33px;
    margin: 0;
  }
}
.l-header__image {
  width: 143px;
  height: 30px;
}
@media (min-width: 767px) {
  .l-header__image {
    width: 157px;
    height: 33px;
  }
}
.l-header__description {
  display: none;
}
@media (min-width: 1200px) {
  .l-header__description {
    position: absolute;
    display: block;
    font-size: 1.4rem;
    font-weight: 900;
    letter-spacing: -0.02em;
    line-height: 1.3;
    width: 33rem;
    top: -35%;
    right: -430px;
    z-index: -1;
  }
}
.l-header__description span {
  font-size: 1.8rem;
}
.l-header__nav {
  display: none;
}
@media (min-width: 1200px) {
  .l-header__nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 75%;
  }
}
.l-header__menu {
  align-items: center;
}
.l-header__list {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  position: relative;
  padding: 0 15px;
}
.l-header__list-title {
  font-weight: 700;
  font-size: 1.6rem;
}
.l-header__list:hover {
  background-color: #d4f1f7;
}

.p-hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  width: 50px;
  height: 50px;
  color: #2bb8d9;
}
@media (min-width: 1200px) {
  .p-hamburger {
    display: none;
  }
}
.p-hamburger__menu {
  display: none;
  background-color: #fff;
  width: 100%;
  padding-top: 50px;
  position: fixed;
  top: 0;
  z-index: 150;
}
.p-hamburger__menu.active {
  transform: translateX(0);
  display: block;
  transition: 0.3s ease;
}
.p-hamburger__list:nth-child(3) .p-hamburger__title::before, .p-hamburger__list:nth-child(3) .p-hamburger__title::after {
  display: none;
}
.p-hamburger__title {
  position: relative;
  font-size: 20px;
  line-height: 1.7;
  font-weight: 700;
  padding: 10px;
}
.p-hamburger__title::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 3.5%;
  height: 2px;
  width: 24px;
  background: #131d34;
  transform: rotate(90deg);
  transition: 0.3s ease;
  margin: -1px 0 0 0;
}
.p-hamburger__title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 3.5%;
  height: 2px;
  width: 24px;
  background-color: #131d34;
  transition: all 0.3s ease-in-out;
  margin: -1px 0 0 0;
}
.p-hamburger__title.open::before {
  transform: rotate(180deg);
}
.p-hamburger__title.open::after {
  opacity: 0;
}
.p-hamburger__title:hover {
  background: linear-gradient(90deg, #f3fafb, #f3fafb 87%, #f7f7f7 13%);
  transition: 0.3s ease;
}
.p-hamburger__body {
  display: none;
}
.p-hamburger__body-list {
  font-weight: 400;
  line-height: 1.7;
  padding: 10px 10px 10px 25px;
}
.p-hamburger__body-list:hover {
  background-color: #f3fafb;
  transition: 0.3s ease;
}

.hamburger.active {
  background-color: #2498b3;
}

.hamburger span {
  width: 23px;
  height: 2px;
  background-color: #2498b3;
  transition: 0.5s ease;
  display: block;
  position: relative;
}

.hamburger span::before,
.hamburger span::after {
  content: "";
  width: 23px;
  height: 2px;
  position: absolute;
  background-color: #2498b3;
  transition: 0.3s ease;
  top: 9px;
}

.hamburger span::after {
  top: -9px;
}

.hamburger.active span {
  background-color: #2498b3;
}

.hamburger.active span::before,
.hamburger.active span::after {
  transform: rotate(45deg);
  background-color: #fff;
  top: 0;
}

.hamburger.active span::after {
  transform: rotate(-45deg);
}

.c-button__contact {
  font-size: 1.6rem;
  letter-spacing: -0.1;
  width: 170px;
  height: 70px;
  font-weight: 700;
  background-color: #2498b3;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-button__link {
  background-color: #2498b3;
  color: #fff;
  margin: 8.125px auto 8.125px auto;
  display: flex;
  border-radius: 4px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 1.7;
  width: 275.73px;
  height: 46px;
}
@media (min-width: 767px) {
  .c-button__link {
    width: 344px;
    height: 72px;
    font-size: 1.8rem;
    line-height: 1;
  }
}

.p-dropdown__menu {
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
  bottom: 70px;
}
.p-dropdown__list {
  background-color: #ecf8fb;
  transition: ease 0.1s;
  position: relative;
  padding: 15px 60px 15px 15px;
}
.p-dropdown__list-title {
  font-size: 2rem;
  line-height: 1.7;
  font-weight: 400;
}
.p-dropdown__list:hover {
  background-color: #fff;
}
.p-dropdown__list:hover a {
  color: #2bb8d9;
}

.u-listWidth__308 {
  width: 308px;
}
.u-listWidth__316 {
  width: 316.56px;
}
.u-listWidth__215 {
  width: 215px;
}
.u-listWidth__195 {
  width: 195px;
}
.u-listWidth__170 {
  width: 170px;
}

main {
  padding-top: 50px;
}
@media (min-width: 1200px) {
  main {
    padding: 70px 0 0 0;
  }
}

.p-top__wrapper {
  width: 100%;
  height: 320px;
  background-image: url(/images/bg-hero3.png);
  background-position-x: 50%;
  background-position-y: -25px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
  flex-direction: column;
  position: relative;
  justify-content: flex-end;
}
.p-top__wrapper::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background: url(/images/bg-hero2.png) top -25px center/800px no-repeat;
  width: 100%;
  z-index: 10;
  height: 200px;
}
.p-top__wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: url(/images/bg-hero1.png) top -30px center/800px no-repeat;
  width: 100%;
  z-index: 15;
  height: 200px;
}
.p-top__contents {
  position: absolute;
  padding: 9px 0 13px;
  background-color: #fff;
  text-align: center;
  width: 100%;
  z-index: 50;
}
@media (min-width: 767px) {
  .p-top__contents {
    max-width: 530px;
    box-sizing: border-box;
    height: 367px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    padding: 43px 40px 19px 40px;
  }
}
.p-top__image {
  display: none;
}
@media (min-width: 767px) {
  .p-top__image {
    display: block;
    width: 280px;
    height: 59px;
    margin: 0 auto 26px auto;
  }
}
.p-top__box {
  width: 100%;
}
@media (min-width: 767px) {
  .p-top__box {
    width: 345px;
  }
}
.p-top__description {
  margin: 8.125px 0 16.25px 0;
  font-size: 16.25px;
  line-height: 27.625px;
  font-weight: 700;
}
@media (min-width: 767px) {
  .p-top__description {
    margin-bottom: 36px;
    font-size: 1.6rem;
  }
}

.p-card {
  padding: 80px 0;
  width: 100%;
  background-color: #131d34;
}
@media (min-width: 767px) {
  .p-card {
    padding: 0;
  }
}
.p-card__menu {
  flex-direction: column;
  margin: 0 10px;
}
@media (min-width: 767px) {
  .p-card__menu {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 9.9rem;
  }
}
.p-card__list {
  color: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 7px 50px;
}
@media (min-width: 767px) {
  .p-card__list {
    margin-bottom: 0;
    width: 230px;
  }
}
.p-card__list:last-child {
  margin-bottom: 0;
}
.p-card__circle {
  width: 230px;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 6px solid #131d34;
  background-color: #fff;
}
.p-card__icon {
  color: #131d34;
  font-size: 100px;
}
.p-card__inner-title {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  line-height: 51px;
  margin-top: 6px;
}
@media (min-width: 767px) {
  .p-card__inner-title {
    font-size: 2.4rem;
  }
}
.p-card__inner-text {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 34px;
  margin-top: 10px;
}
@media (min-width: 767px) {
  .p-card__inner-text {
    font-size: 1.6rem;
    width: 228px;
  }
}
/*# sourceMappingURL=style.css.map */